<h1>Listing Users</h1>
 
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= link_to 'View', user_path(user) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New User', new_user_path %>