<p>
  <strong>Title:</strong>
  <%= cycle.title %>
  <%= link_to 'View', user_cycle_path(cycle.user, cycle) %>
  <%= link_to 'Delete', [cycle.user, cycle],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
