<h1>Cycles</h1>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Workout</th>
				<th>Max</th>
				<th>Max Reps</th>
				<th>Workout</th>
				<th>Max</th>
				<th>Max Reps</th>
				<th>Workout</th>
				<th>Max</th>
				<th>Max Reps</th>
				<th>Workout</th>
				<th>Max</th>
				<th>Max Reps</th>
			</tr>
		</thead>
		<tbody>
			<%= render @cycles %>
		</tbody>
	</table>
</div>
