<h1>Cycles</h1>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Index</th>
				<th>What</th>
			</tr>
		</thead>
		<tbody>
			<%= render @user.cycles %>
		</tbody>
	</table>
</div>
