<div class="jumbotron center">
  <h1>Welcome to the Workout Tracker!</h1>
  <p>Use the sign in or sign up buttons below to get started.</p>
  <p>
  	<a href="signup" class="btn btn-primary btn-lg" role="button">Sign Up</a>
    <a href="signin" class="btn btn-primary btn-lg" role="button">Sign In</a>
  </p>
</div>