<h1>Home</h1>
<% if @current_lift%>	
	<%= render partial: "lifts/lift_panel", locals: {lift: @current_lift} %>

<% elsif current_user.cycles.size>0 %>
	<div class="well">
		You're done with the current cycle. Congratulations!
		<%= button_to "Create Next Cycle", user_cycles_path(current_user, :method => :post), :class => "btn btn-success"%>
	</div>
<% else current_user.cycles.size>0 %>
	<div class="well">
		You haven't created any cycles yet. Begin by creating one!
		<%= button_to "Create First Cycle", user_cycles_path(current_user, :method => :post), :class => "btn btn-success"%>
	</div>
<% end %>

