<script>
	var options = {};
	Chart.defaults.global.responsive = true;
	Chart.defaults.global.maintainAspectRatio = false;
	Chart.defaults.global.legend.display = false;
</script>

<h1>Reports</h1>
<% @all_workouts.each do |workout_type| %>
	<%= render partial: "reports/chart", locals: {workout_type: workout_type} %>
<% end %>
